In [1]:
import os
import sys

os.environ['JAVA_HOME'] = r'C:\Program Files\Java\jdk-21'
#os.environ['PYSPARK_HOME'] = r'C:\Users\lpaschoal\pyspark\spark-4.0.1-bin-hadoop3'
os.environ['SPARK_HOME'] = r'C:\Users\lpaschoal\pyspark\spark-4.0.1-bin-hadoop3'
os.environ['HADOOP_HOME'] = r'C:\Users\lpaschoal\pyspark\hadoop\winutils\hadoop-3.3.6'

sys.path.insert(0, os.getenv('SPARK_HOME') + r"\python\pyspark")
sys.path.insert(0, os.getenv('SPARK_HOME') + r"\python\lib\pyspark.zip")
sys.path.insert(0, os.getenv('SPARK_HOME') + r"\python\lib\py4j-0.10.9.9-src.zip")

import findspark
findspark.init()
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Financial Project")\
    .config("spark.driver.memory", "12g") \
    .config("spark.driver.extraJavaOptions", "--add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED") \
    .config("spark.executor.extraJavaOptions", "--add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED") \
    .getOrCreate()

spark.conf.set("spark.sql.execution.pyspark.udf.faulthandler.enabled", "true")

In [2]:
#Reading CSVs
card_data = spark.read.csv(r"C:\Users\lpaschoal\data_src\financial_data\cards_data.csv",header=True, inferSchema=True).createOrReplaceTempView('cards_data')
trans_data = spark.read.csv(r"C:\Users\lpaschoal\data_src\financial_data\transactions_data.csv",header=True, inferSchema=True).createOrReplaceTempView('trans_data')
user_data = spark.read.csv(r"C:\Users\lpaschoal\data_src\financial_data\users_data.csv",header=True, inferSchema=True).createOrReplaceTempView('users_data')

In [3]:
#Reading JSON
#mcc_codes = spark.read.json(r"C:\Users\lpaschoal\data_src\financial_data\mcc_codes.json",multiLine=True)
#fraud_labels = spark.read.json(r"C:\Users\lpaschoal\data_src\financial_data\train_fraud_labels.json",multiLine=True)

In [4]:
spark.sql('SELECT * FROM users_data').show()

+----+-----------+--------------+----------+-----------+------+--------------------+--------+---------+-----------------+-------------+----------+------------+----------------+
|  id|current_age|retirement_age|birth_year|birth_month|gender|             address|latitude|longitude|per_capita_income|yearly_income|total_debt|credit_score|num_credit_cards|
+----+-----------+--------------+----------+-----------+------+--------------------+--------+---------+-----------------+-------------+----------+------------+----------------+
| 825|         53|            66|      1966|         11|Female|       462 Rose Lane|   34.15|  -117.76|           $29278|       $59696|   $127613|         787|               5|
|1746|         53|            68|      1966|         12|Female|3606 Federal Boul...|   40.76|   -73.74|           $37891|       $77254|   $191349|         701|               5|
|1718|         81|            67|      1938|         11|Female|     766 Third Drive|   34.02|  -117.89|           $22681|       $33483|      $196|         698|               5|
| 708|         63|            63|      1957|          1|Female|    3 Madison Street|   40.71|   -73.99|          $163145|      $249925|   $202328|         722|               4|
|1164|         43|            70|      1976|          9|  Male|9620 Valley Strea...|   37.76|  -122.44|           $53797|      $109687|   $183855|         675|               1|
|  68|         42|            70|      1977|         10|  Male|       58 Birch Lane|   41.55|    -90.6|           $20599|       $41997|        $0|         704|               3|
|1075|         36|            67|      1983|         12|Female|   5695 Fifth Street|   38.22|   -85.74|           $25258|       $51500|   $102286|         672|               3|
|1711|         26|            67|      1993|         12|  Male|   1941 Ninth Street|   45.51|  -122.64|           $26790|       $54623|   $114711|         728|               1|
|1116|         81|            66|      1938|          7|Female|    11 Spruce Avenue|   40.32|   -75.32|           $26273|       $42509|     $2895|         755|               5|
|1752|         34|            60|      1986|          1|Female|    887 Grant Street|   29.97|   -92.12|           $18730|       $38190|    $81262|         810|               1|
| 192|         27|            66|      1992|          6|  Male|      888 Fifth Lane|   38.65|  -121.25|           $27548|       $56164|    $15224|         761|               2|
| 640|         29|            63|      1990|          9|Female|8677 Littlewood Lane|   40.42|  -104.74|           $22427|       $45727|    $94016|         629|               1|
|1679|         18|            67|      2002|          1|Female|829 Fourth Boulevard|   41.76|   -71.48|           $33914|       $69149|    $89214|         776|               1|
|1094|         34|            62|      1985|         10|  Male|74786 Jefferson D...|   44.75|    -85.6|           $20325|       $41442|    $78833|         712|               3|
|1590|         48|            62|      1971|          5|Female|     781 East Street|   29.45|    -98.5|           $10059|       $20513|    $32509|         599|               1|
|1660|         41|            68|      1978|          4|Female| 40 Washington Drive|   36.73|  -102.51|           $11342|       $23123|     $5079|         723|               6|
|1747|         54|            71|      1966|          1|  Male| 3994 Hillside Drive|   32.15|   -94.79|           $17898|       $36497|    $38333|         719|               6|
| 153|         76|            71|      1943|          8|Female|    172 Birch Street|   35.29|  -111.32|           $21950|       $27484|    $16803|         660|               4|
| 429|         22|            68|      1997|         11|  Male|8145 Spruce Boule...|   35.19|   -80.83|           $26481|       $53995|    $89056|         683|               3|
| 511|         66|            68|      1953|         10|  Male|      153 Tenth Lane|   32.21|  -110.88|           $17460|       $35602|    $55369|         661|               5|
+----+-----------+--------------+----------+-----------+------+--------------------+--------+---------+-----------------+-------------+----------+------------+----------------+
only showing top 20 rows

In [5]:
spark.sql('SELECT * FROM trans_data').show()

+-------+-------------------+---------+-------+-------+------------------+-----------+---------------+--------------+-------+----+------+
|     id|               date|client_id|card_id| amount|          use_chip|merchant_id|  merchant_city|merchant_state|    zip| mcc|errors|
+-------+-------------------+---------+-------+-------+------------------+-----------+---------------+--------------+-------+----+------+
|7475327|2010-01-01 00:01:00|     1556|   2972|$-77.00| Swipe Transaction|      59935|         Beulah|            ND|58523.0|5499|  NULL|
|7475328|2010-01-01 00:02:00|      561|   4575| $14.57| Swipe Transaction|      67570|     Bettendorf|            IA|52722.0|5311|  NULL|
|7475329|2010-01-01 00:02:00|     1129|    102| $80.00| Swipe Transaction|      27092|          Vista|            CA|92084.0|4829|  NULL|
|7475331|2010-01-01 00:05:00|      430|   2860|$200.00| Swipe Transaction|      27092|    Crown Point|            IN|46307.0|4829|  NULL|
|7475332|2010-01-01 00:06:00|      848|   3915| $46.41| Swipe Transaction|      13051|        Harwood|            MD|20776.0|5813|  NULL|
|7475333|2010-01-01 00:07:00|     1807|    165|  $4.81| Swipe Transaction|      20519|          Bronx|            NY|10464.0|5942|  NULL|
|7475334|2010-01-01 00:09:00|     1556|   2972| $77.00| Swipe Transaction|      59935|         Beulah|            ND|58523.0|5499|  NULL|
|7475335|2010-01-01 00:14:00|     1684|   2140| $26.46|Online Transaction|      39021|         ONLINE|          NULL|   NULL|4784|  NULL|
|7475336|2010-01-01 00:21:00|      335|   5131|$261.58|Online Transaction|      50292|         ONLINE|          NULL|   NULL|7801|  NULL|
|7475337|2010-01-01 00:21:00|      351|   1112| $10.74| Swipe Transaction|       3864|       Flushing|            NY|11355.0|5813|  NULL|
|7475338|2010-01-01 00:23:00|      554|   3912|  $3.51| Swipe Transaction|      67570|       Pearland|            TX|77581.0|5311|  NULL|
|7475339|2010-01-01 00:23:00|      605|   5061|  $2.58| Swipe Transaction|      75781|       Brooklyn|            NY|11210.0|5411|  NULL|
|7475340|2010-01-01 00:26:00|     1556|   2972| $39.63| Swipe Transaction|      59935|         Beulah|            ND|58523.0|5499|  NULL|
|7475341|2010-01-01 00:27:00|     1797|   1127| $43.33| Swipe Transaction|      33326|        Kahului|            HI|96732.0|4121|  NULL|
|7475342|2010-01-01 00:30:00|      114|   3398| $49.42| Swipe Transaction|      61195|North Hollywood|            CA|91606.0|5541|  NULL|
|7475343|2010-01-01 00:31:00|     1634|   2464|  $1.09| Swipe Transaction|      20519|     San Benito|            TX|78586.0|5942|  NULL|
|7475344|2010-01-01 00:32:00|      646|   2093| $73.79| Swipe Transaction|       1636|           Erie|            PA|16511.0|7538|  NULL|
|7475345|2010-01-01 00:32:00|     1129|   5492|$100.00| Swipe Transaction|      27092|          Vista|            CA|92084.0|4829|  NULL|
|7475346|2010-01-01 00:34:00|      394|   4717| $26.04|Online Transaction|      39021|         ONLINE|          NULL|   NULL|4784|  NULL|
|7475347|2010-01-01 00:36:00|      114|   3398|$-64.00| Swipe Transaction|      61195|North Hollywood|            CA|91606.0|5541|  NULL|
+-------+-------------------+---------+-------+-------+------------------+-----------+---------------+--------------+-------+----+------+
only showing top 20 rows

In [6]:
spark.sql("""SELECT * FROM cards_data""").show()

+----+---------+----------+---------------+----------------+-------+---+--------+----------------+------------+--------------+---------------------+----------------+
|  id|client_id|card_brand|      card_type|     card_number|expires|cvv|has_chip|num_cards_issued|credit_limit|acct_open_date|year_pin_last_changed|card_on_dark_web|
+----+---------+----------+---------------+----------------+-------+---+--------+----------------+------------+--------------+---------------------+----------------+
|4524|      825|      Visa|          Debit|4344676511950444|12/2022|623|     YES|               2|      $24295|       09/2002|                 2008|              No|
|2731|      825|      Visa|          Debit|4956965974959986|12/2020|393|     YES|               2|      $21968|       04/2014|                 2014|              No|
|3701|      825|      Visa|          Debit|4582313478255491|02/2024|719|     YES|               2|      $46414|       07/2003|                 2004|              No|
|  42|      825|      Visa|         Credit|4879494103069057|08/2024|693|      NO|               1|      $12400|       01/2003|                 2012|              No|
|4659|      825|Mastercard|Debit (Prepaid)|5722874738736011|03/2009| 75|     YES|               1|         $28|       09/2008|                 2009|              No|
|4537|     1746|      Visa|         Credit|4404898874682993|09/2003|736|     YES|               1|      $27500|       09/2003|                 2012|              No|
|1278|     1746|      Visa|          Debit|4001482973848631|07/2022|972|     YES|               2|      $28508|       02/2011|                 2011|              No|
|3687|     1746|Mastercard|          Debit|5627220683410948|06/2022| 48|     YES|               2|       $9022|       07/2003|                 2015|              No|
|3465|     1746|Mastercard|Debit (Prepaid)|5711382187309326|11/2020|722|     YES|               2|         $54|       06/2010|                 2015|              No|
|3754|     1746|Mastercard|Debit (Prepaid)|5766121508358701|02/2023|908|     YES|               1|         $99|       07/2006|                 2012|              No|
|5144|     1718|Mastercard|          Debit|5495199163052054|03/2022|677|     YES|               2|      $31599|       10/2009|                 2009|              No|
|2029|     1718|Mastercard|          Debit|5804499644308599|07/2023|258|      NO|               2|      $27480|       03/2002|                 2008|              No|
|2379|     1718|Mastercard|          Debit|5766352389579834|02/2020|992|     YES|               1|      $26743|       03/2019|                 2019|              No|
|2732|     1718|      Visa|          Debit|4242015583697294|06/2020|928|     YES|               1|      $31463|       04/2014|                 2014|              No|
|4706|     1718|Mastercard|          Debit|5191030913182493|06/2024|360|     YES|               1|      $16055|       09/2009|                 2009|              No|
| 281|      708|      Visa|         Credit|4017261190134817|05/2015|877|     YES|               2|      $98100|       01/2011|                 2011|              No|
|1106|      708|Mastercard|Debit (Prepaid)|5581970288727991|06/2020|448|     YES|               1|         $62|       02/2007|                 2007|              No|
|5621|      708|      Visa|          Debit|4032240655674503|06/2022| 53|     YES|               1|     $132439|       11/2010|                 2011|              No|
|5165|      708|      Visa|          Debit|4935974646456357|06/2020|649|     YES|               1|     $125723|       10/2009|                 2010|              No|
|5757|     1164|Mastercard|          Debit|5905027855347659|01/2022|886|     YES|               1|      $34900|       12/1999|                 2012|              No|
+----+---------+----------+---------------+----------------+-------+---+--------+----------------+------------+--------------+---------------------+----------------+
only showing top 20 rows

In [7]:
df_trans_init = spark.sql("""SELECT date_format(date, 'yyyy-MM') as trans_date, client_id,
SUM(
    COALESCE(
        TRY_CAST(
            CASE
                WHEN REGEXP_REPLACE(amount, '[^0-9.-]', '') LIKE '%-'
                THEN CONCAT('-', REGEXP_REPLACE(REGEXP_REPLACE(amount, '[^0-9.-]', ''), '-', ''))
                ELSE REGEXP_REPLACE(amount, '[^0-9.-]', '')
            END
            AS FLOAT
        ),
    0
    )
) as sum
FROM trans_data
GROUP BY client_id, date_format(date, 'yyyy-MM')""").createOrReplaceTempView('trans_sum')

In [8]:
# Informations about the transactions total amount per year and month per user between 50 and 60 years 

df_users = spark.sql("SELECT * from users_data \
                    where current_age between 50 and 60 order by current_age").createOrReplaceTempView('df_users')

df_trans_year_month = spark.sql("select client_id, users.gender, users.per_capita_income, sum, trans_date from trans_sum\
                                left join df_users as users on trans_sum.client_id = users.id").createOrReplaceTempView('users_percapta_income')

In [13]:
spark.sql("""SELECT distinct users_percapta_income.client_id, gender, per_capita_income, sum, trans_date, ca.card_brand
          FROM users_percapta_income 
          JOIN cards_data as ca ON users_percapta_income.client_id = ca.client_id
          where gender IS NOT NULL
          """).createOrReplaceTempView('trans_amount_year')

In [15]:
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType

sc = spark.sparkContext
map1 = {"Mastercard":"M", "Visa":"V", "Amex":"A"}

bcv_card = sc.broadcast(map1)

spark.sql("""SELECT distinct client_id, gender, per_capita_income, sum, trans_date, card_brand
          FROM trans_amount_year""")

def convert(card_brand):
    return bcv_card.value.get(str(card_brand), card_brand)  # Force str


convert_status = udf(convert,StringType())
df = spark.sql("""SELECT distinct client_id, gender, per_capita_income, sum, trans_date, card_brand
          FROM trans_amount_year""")
final_df = df.withColumn("card_brand", convert_status(col("card_brand")))

In [16]:
final_df.show()

+---------+------+-----------------+------------------+----------+----------+
|client_id|gender|per_capita_income|               sum|trans_date|card_brand|
+---------+------+-----------------+------------------+----------+----------+
|      216|Female|           $16273|2565.7799944877625|   2010-03|         V|
|      216|Female|           $16273|2565.7799944877625|   2010-03|         M|
|     1782|Female|           $19438|  2920.31004011631|   2010-06|         M|
|     1782|Female|           $19438|  2920.31004011631|   2010-06|         V|
|     1300|  Male|           $11324| 2387.100007534027|   2010-06|         M|
|      375|Female|           $18444|1813.5099789500237|   2010-01|         M|
|     1749|Female|            $8658|1104.5699954032898|   2010-01|         M|
|      100|  Male|           $24005| 2740.220016002655|   2010-02|         M|
|      100|  Male|           $24005| 2740.220016002655|   2010-02|         V|
|      692|Female|           $20942|3608.3399965167046|   2010-03|         V|
|      692|Female|           $20942|3608.3399965167046|   2010-03|         M|
|     1571|Female|           $25166|3007.5499987602234|   2010-03|         M|
|     1571|Female|           $25166|3007.5499987602234|   2010-03|         V|
|     1315|Female|           $15976|1996.0699886083603|   2010-03|         M|
|     1315|Female|           $15976|1996.0699886083603|   2010-03|         V|
|      546|  Male|           $25111| 4403.120005726814|   2010-03|         M|
|      546|  Male|           $25111| 4403.120005726814|   2010-03|         A|
|     1315|Female|           $15976| 2666.649999976158|   2010-05|         M|
|     1315|Female|           $15976| 2666.649999976158|   2010-05|         V|
|     1529|  Male|           $37424| 5560.620010480285|   2010-06|         M|
+---------+------+-----------------+------------------+----------+----------+
only showing top 20 rows

In [ ]:
final_df.count()

69557

: